img {
    height: auto;
    width: 300px;
}

h2 {
    font-size: 40px;
    background-color: burlywood;
    color: coral;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h3 {
    color: burlywood;
}